@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 10px;
    padding: 10px;
}
.contact{
    height: 50%;
    width: 50%;
    margin-left: 150px;
}
h2{
    font-family: 'Poppins', sans-serif;
}

.info{
    margin-left: 90px;
}
a{
    color: black;
}
hr{
    background: #e6e1e1;
}