*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
background: #eff4fd;

}
.container{
    display: flex;
}
.top{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 200px;
}
.nav{
    display: flex;
    padding-left: 250px;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav ul li{
    list-style: none;
    margin: 20px;
    
}
.nav ul li a{
    text-decoration: none;
}
.first{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 90px;
}
.second{
    display: flex;
    
}
.img{
    margin-top: 100px;
    box-shadow: 20px 30px rgb(73, 63, 63);
    border-radius: 20px 30px;
}